#root {
  margin: 0 auto;
  text-align: center;
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  font-family: 'Inter', sans-serif;
  padding: 2rem;
}

.news-articles-container {
  display: flex;
}

.main-news-container {
  width: fit-content;
}

.news-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.articles-container {
  background-color: var(--very-dark-blue);
  color: var(--grayish-blue);
  margin-left: 50px;
  text-align: left;
  padding: 20px;
}

.articles-container > h2 {
  color: var(--off-white)
}

.line-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

.new-text {
  color: var(--soft-orange);
}


.navbar-text {
  font-weight: 800;
}

.navigation-bar {
  display: flex;
}

.main-image {
  width: 100%;
}

.main-news-text {
  display: flex;
  /* align-items: center; */
  text-align: left;
  margin-top: 20px;
}

.main-news-prompt {
  font-weight: 800;
  font-size: 4.5rem;
  margin: 0;
  margin-right: 100px;
}

.main-news-question {
  color: var(--dark-grayish-blue);
}

button {
  background-color: var(--soft-red);
  padding: 1rem;
  margin-top: 40px;
  letter-spacing: 5px;
  color: white;
  width: 200px;
}

.all-top-posts-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.top-posts {
  display: flex;
  justify-content: center;
  text-align: left;
}

.top-image-container {
  margin-right: 15px;
}

.post-number {
  color: var(--grayish-blue);
  font-size: 2rem;
}

.post-title {
  font-weight: 800;
}

.post-paragraph {
  color: var(--dark-grayish-blue);
  font-size: 20px;
}

/* .top-posts-text {

} */

p {
  font-size: 15px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
